/* :root {
    --light: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --QCRed: #DB2525;
} */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    margin: 30px 50px;
    line-height: 1.4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.dashboard-container {
    grid-area: 1 / 1 / 2 / 14;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto;
    padding: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.welcome-header, .announcements-container > p, .dash-content-container > p, .profile-pic-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-section, .id-section, .major-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 50px;
}

.enrollment-container, .announcements-container {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto;
    padding: 10px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.entries-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.course-entry {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 5px;
}

.announcements-section, .holds-section, .enroll-date-section {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: rgb(237, 234, 230);
  border-radius: 50px;
}

.dash-content-container{
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.extra-info-container {
  grid-area: 2 / 2 / 3 / 12;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto;
  padding: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(219, 37, 37, 1);
    color: white;
    text-align: center;
}
