@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');

/* CSS Variables */
:root {
    --light: #ffffff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --QCRed: #DB2525;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    margin: 30px 50px;
    line-height: 1.4;
}

button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 15px;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
}

select, #courseCap, #startTimeText, #endTimeText, #courseDescript  {
    border-color: rgb(104, 104, 104);
    border-radius: 5px;
    color: rgb(104, 104, 104);
    padding: 10px 10px;
}

input.checkbox {
    width: 20px;
    height: 20px;
}


.btn {
    background-color: rgb(219, 37, 37, 1);
    font-size: 20px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: rgb(219, 37, 37, 0.9);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px;
}

.enrollment-container {
    grid-area: 1 / 1 / 5 / 6;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: block;
    grid-template-rows: 10% 70% 20%;
    padding: 10px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 300px;

}

.my-courses-header, .create-course-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.entries-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.course-entry {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    margin: 5px;
}

.status-btn {
    background-color: rgb(76, 194, 52);
    font-size: 12px;
    margin-bottom: 0;
    box-shadow: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.create-course-container {
    grid-area: 1 / 6 / 5 / 13;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 10px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 300px;
}

.course-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.course-form-dropdown-container {
    display: flex;
    flex-direction: column;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.course-entry:hover {
    background-color: var(--QCRed);
    color: #edf0f1;
}

.course-date-time-container, .course-description-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

textarea {
    width: 100%;
}

.course-description-container > #courseDesc {
    width: 80%;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.cards-results-container {
    grid-area: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.class-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.semester-year {
    color: rgb(104, 104, 104);
}

.card-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 10px;
    padding: 20px 15px;
}

.card > h4 {
  color: red;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(219, 37, 37, 1);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1023px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .enrollment-container {
        grid-area: 1 / 1 / 4 / 9;
    }
    .create-course-container {
        grid-area: 4 / 1 / 7 / 9;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .enrollment-container {
        grid-area: 1 / 1 / 4 / 5;
    }
    .create-course-container {
        grid-area: 4 / 1 / 7 / 5;
    }
}
